/* Targets the tag */
button {
  --height: 44px;

  width: 200px;
  height: var(--height);
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--height);
  border: none;
}

button:hover {
  background-color: #004a8a;
}
