/* Targets the tag */
.button-primary {
  width: 200px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 100px; /* trick to make the borders a semi-circle */
}

.button-primary:hover {
  text-decoration: none;
  background-color: #004a8a;
}
