/* Targets the tag */
button {
  --height: 44px;

  height: var(--height);
  background: none;
  border: none;
}

button:hover {
  text-decoration: underline;
}

/* Media queries */
@media (min-width: 550px) {
  button {
    --height: 54px;
  }
}
